/* COLORS */
$dark-grey: #282b39;
$blue: #60c9cf;
$red: #ff0013;
$purple: #8018bf;

/* FONT FAMILY */
$font-poppins: "Poppins", sans-serif;
$font-size-h1: 1.3rem;

/* FONT WEIGHTS */
$poppins-regular: 400;
$poppins-bold: 700;

/* BORDER */
$blue-border: 0.5px solid $blue;
$red-border: 0.5px solid $red;
$purple-border: 0.5px solid $purple;
$grey-border: 0.5px solid $dark-grey;
$border-radius: 10px;
$border-radius-sm: 4px;
$border: 0.5px solid $dark-grey;
$box-shadow-grey: 0px 4px 4px $dark-grey;

/* MARGIN */
$margin: 10px;
$margin-sm: 5px;

/* BODY */
html {
  box-sizing: border-box;
}

body,
html {
  color: $blue;
  height: 100vh;

  font-family: $font-poppins;
}

#root {
  height: 100vh;
}

/*app wrapper*/
.app--wrapper {
  height: 100vh;
}

.btn--primary {
  appearance: none;
  background: white;
  width: 150px;
  height: 40px;
  font-size: 13px;
  font-family: $font-poppins;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: $border-radius;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

@media screen and (max-width: 500px) {
  .btn--primary {
    width: 100px;
    height: 30px;
    font-size: 10px;
  }
}

.btn--primary:hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  box-shadow: $box-shadow-grey;
}

.btn--secondary {
  appearance: none;
  background: white;
  width: 100px;
  height: 40px;
  font-size: 13px;
  font-family: $font-poppins;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: $border-radius;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn--secondary:hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  box-shadow: $box-shadow-grey;
}

@media screen and (max-width: 500px) {
  .btn--secondary {
    width: 100px;
    height: 30px;
    font-size: 10px;
  }
}

.dark-grey {
  color: $dark-grey;
  border: $grey-border;
  &_invert {
    background: $dark-grey;
    color: white;
    border: white;
  }
}

.blue {
  color: $blue;
  border: $blue-border;
  &_invert {
    background: $blue;
    color: white;
    border: white;
  }
}

.purple {
  color: $purple;
  border: $purple-border;
  &_invert {
    background: $purple;
    color: white;
    border: white;
  }
}

.red {
  color: $red;
  border: $red-border;
  &_invert {
    background: $red;
    color: white;
    border: white;
  }
}
