@import "../stylesheets/global.scss";

.details--wrapper {
  margin: $margin;
  height: 70%;
  width: 70%;
  display: flex;
  flex-direction: column;
  border: $grey-border;
  border-radius: $border-radius;
  justify-content: space-around;
}

@media screen and (max-width: 500px) {
  .details--wrapper {
    height: 80%;
    width: 95%;
  }
}

.details--top_text,
.details--bottom_text {
  color: $dark_grey;
  flex-grow: 1;
  margin: $margin;
}
.details--middle_text {
  font-weight: $poppins-bold;
  font-size: 5em;
  flex-grow: 2;
  margin: $margin;
}
