@import "../stylesheets/global.scss";

.logins--wrapper {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logins--inner_wrapper {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logins--title {
  margin: $margin;
  color: $dark-grey;
}

.logins--displaybox {
  margin: $margin;
  height: 70%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: $grey-border;
  border-radius: $border-radius;
  font-weight: $poppins-bold;
  font-size: 10em;
}

@media screen and (max-width: 500px) {
  .logins--displaybox {
    height: 80%;
    width: 95%;
    font-size: 7em;
  }
}

@media screen and (min-width: 501px) and (max-width: 780px) {
  .logins--displaybox {
    height: 70%;
    width: 70%;
    font-size: 7em;
  }
}

.logins--filter {
  display: flex;
  margin: $margin;
  flex-grow: 2;
  justify-content: space-between;
  width: 70%;
}

@media screen and (max-width: 500px) {
  .logins--filter {
    width: 95%;
  }
}
