@import "../stylesheets/global.scss";

.notifications--displaybox {
  margin: $margin;
  height: 70%;
  width: 70%;
  display: flex;
  flex-direction: row;
  border: $grey-border;
  border-radius: $border-radius;
  justify-content: space-around;
  &_delivered,
  &_failed,
  &_unknown,
  &_sent {
    display: flex;
    flex-direction: column-reverse;
    width: 25%;
    align-items: center;
    flex-grow: 1;
  }
}

@media screen and (max-width: 500px) {
  .notifications--displaybox {
    height: 80%;
    width: 95%;
    font-size: 7em;
  }
}

.notification--span {
  &_sent,
  &_delivered,
  &_failed,
  &_unknown {
    color: $dark_grey;
    font-size: 15px;
    height: 10%;
  }
}

.notification--pbar {
  &_sent,
  &_delivered,
  &_failed,
  &_unknown {
    width: 60px;
    border-radius: $border-radius-sm;
    animation: progressbarfiller 2s reverse;
    animation-timing-function: ease-in;
  }
}
@keyframes progressbarfiller {
  to {
    height: 0;
  }
}
